body {background-image:url('https://images.blocksurvey.io/cdn-cgi/imagedelivery/G6cPOuGZ4Z_bEV13gBxixw/template-category/event-experience.svg/l');}
  
  h3 {color:red;}

  .div-1:hover {background-color:green;}
  .div-1 {
      font-size:18px;
      border-radius:8px;
      color:blue;
      width:85px;
      height:40px;
      box-shadow: 0 5px #999;
      }
  
  .div-2:hover { background-color:green;}
  .div-2 {
      border-radius:8px;
      width:100px;
      height:45px;
      font-size:19px;
      }
  
  .div-3 {border-radius:5px;}
  .div {color:black;}
  input {height:25px;}
  .div-1:active 
      {
      background-color: #3e8e41;
      transform: translatey(4px);
      }
      th
      {
        font-size: 20px;
      }
      label {
      font-size: 21px; 
      }